<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list [inset]="true" *ngFor="let ticket of allTickets">
    <ion-item>
      <div style="display: flex; gap: 8px;">
        <ion-label style="flex: 1;">Paciente:</ion-label>
        <ion-label ion-label >{{ticket.patientName}}</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div style="display: flex; gap: 8px;">
        <ion-label style="flex: 1;">CPF:</ion-label>
        <ion-label>{{ticket.cpf}}</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div style="display: flex; gap: 8px;">
        <ion-label style="flex: 1;">Serviço:</ion-label>
        <ion-label>{{ticket.service}}</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div style="display: flex; gap: 8px;">
        <ion-label style="flex: 1;">Urgência:</ion-label>
        <ion-label>{{ticket.urgency}}</ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
