<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list [inset]="true" *ngFor="let ticket of allTickets">
    <ion-item>
      <ion-label>{{ticket.patientName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ticket.cpf}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ticket.service}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ticket.urgency}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
